.editor{
    display: flex;
    gap: 20px;
    height: 700px;
    position: relative;
}

.button, .addButton{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    border: 1.5px solid var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon{
    color: var(--text-color);
}

.addButton{
    border-color: #1a8917;
}

.add{
    display: flex;
    gap: 20px;
    background: var(--bg);
    position: absolute;
    z-index: 999;
    width: 100%;
    left: 50px;
}

.input{
    padding: 30px;
    font-size: 50px;
    border: none;
    outline: none;
    background-color: transparent;
}

.input::placeholder{
    color: #b3b3b1;
}

.textArea{
    width: 100%;
}

.publish{
    position: absolute;
    top: 30px;
    right: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #1a8917;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}