.editor{
    display: flex;
    gap: 20px;
    height: 700px;
    position: relative;
}

.icon{
    color: var(--text-color);
}

.input{
    padding: 30px;
    font-size: 50px;
    border: none;
    outline: none;
    background-color: transparent;
}

.input::placeholder{
    color: #b3b3b1;
}

.textArea{
    width: 100%;
}

.publish{
    padding: 10px 20px;
    border: none;
    background-color: #1a8917;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.file{
    display: none;
}

.label{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    color: var(--text-color);
    border: 1.5px solid #1a8917;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}