.iconContainer{
    text-align: right;
    margin: 20px 0;
}

.icon{
    width: 24px;
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
}

 .link, .icon{
  transition: all 0.3s ease;
  cursor: pointer;
  display: inline-block;
}

 .link:hover , .icon:hover{
  color: var(--cta-btn-color);
  transform: scale(1.05);
}