.title{
    margin: 30px 0;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.category{
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
    justify-content: center;
    border-radius: 10px;
    width: 15%;
    height: 60px;
    padding: 5px;
    font-weight: bold;
    color: white;
}

.category:hover{
    scale: 1.03;
    transition: all 0.3s ease;
}

.category.winter{
    background-color: #64748b;
}

.category.oldCity{
    background-color: #6b7280;
}

.category.mughalGardens{
    background-color: #16a34a;
}

.category.meadows{
    background-color: #4ade80;
}

.category.glaciers{
    background-color: #60a5fa;
}

.category.dal{
    background-color: #818cf8;
}

.image{
    border-radius: 50%;
}

@media only screen and (max-width : 1280px) {
    .category{
        width: 20%;
    }
}

@media only screen and (max-width : 1024px) {
    .category{
        width: 25%;
    }
}

@media only screen and (max-width : 768px) {
    .category{
        width: 45%;
    }
}

@media only screen and (max-width : 640px) {
    .category{
        width: 100%;
    }
}